*.mp3
*.m4a
**/*.mp3
**/*.m4a
.mp3
.m4a
project.pbxproj
**/project.pbxproj
AudioPlayer.xcodeproj/project.xcworkspace/xcuserdata/emilykolar.xcuserdatad/UserInterfaceState.xcuserstate
AudioPlayer.xcodeproj/project.xcworkspace/xcuserdata/Logan.xcuserdatad/UserInterfaceState.xcuserstate
